/* 
参考链接：
  https://forum.obsidian.md/t/how-to-change-the-header-size-colour-of-the-lyt-theme/58883/13
色彩来源参考：
  https://zhuanlan.zhihu.com/p/482993926

2023.10.29 YuanZhiyi 测试调整，实现第一版 

*/

body.theme-light{
  --h1-color: #0e2a7a;
  --h2-color: #2151a6;
  --h3-color: #3a83cb;
  --h4-color: #ce3e35;
  --h5-color: #c05322;
  --h6-color: #f3b840;
}
body.theme-dark {
  --h1-color: blue;
  --h2-color: yellow;
  --h3-color: green;
  --h4-color: red;
  --h5-color: purple;
  --h6-color: teal;
}