<SnippetsSet xmlns="http://www.br-automation.com/iat2015/snippet/engineering/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="snippet_Audit">
	<Snippets>
		<Snippet id="SnippetAlarmmsg1" xsi:type="session" type="IndexText" formatItem="Alarmmsg.{1}"/>
		<Snippet id="SnippetAlarmmsg2" xsi:type="session" type="IndexText" formatItem="Alarmmsg.{1}"/>
		<Snippet id="SnippetAlarmmsg3" xsi:type="session" type="IndexText" formatItem="Alarmmsg.{1}"/>
		<Snippet id="SnippetAlarmmsg4" xsi:type="session" type="IndexText" formatItem="Alarmmsg.{1}"/>
		<Snippet id="SnippetAlarmmsg5" xsi:type="session" type="IndexText" formatItem="Alarmmsg.{1}"/>
		<Snippet id="SnippetAlarmmsg6" xsi:type="session" type="IndexText" formatItem="Alarmmsg.{1}"/>
		<Snippet id="SnippetAlarmmsg7" xsi:type="session" type="IndexText" formatItem="Alarmmsg.{1}"/>
		<Snippet id="SnippetAlarmmsg8" xsi:type="session" type="IndexText" formatItem="Alarmmsg.{1}"/>
		<Snippet id="SnippetAlarmmsg9" xsi:type="session" type="IndexText" formatItem="Alarmmsg.{1}"/>
		<Snippet id="SnippetAlarmmsg10" xsi:type="session" type="IndexText" formatItem="Alarmmsg.{1}"/>
		<Snippet id="SnippetAlarmmsg11" xsi:type="session" type="IndexText" formatItem="Alarmmsg.{1}"/>
		<Snippet id="SnippetAlarmmsg12" xsi:type="session" type="IndexText" formatItem="Alarmmsg.{1}"/>
		<Snippet id="SnippetAlarmmsg13" xsi:type="session" type="IndexText" formatItem="Alarmmsg.{1}"/>
		<Snippet id="SnippetAlarmmsg14" xsi:type="session" type="IndexText" formatItem="Alarmmsg.{1}"/>
		<Snippet id="SnippetAlarmmsg15" xsi:type="session" type="IndexText" formatItem="Alarmmsg.{1}"/>
	</Snippets>
</SnippetsSet>
